.carousel {
  &__case {
    &__items {
      display: flex;
      align-items: center;
      overflow: hidden;
      &__item {
        &__fig {
          position: relative;
          width: 100vw;
          height: 80vh;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          figcaption {
            position: absolute;
            color: white;
            left: 50%;
            transform: translateX(-50%);
            top: calc(80vh - 44vh);
            font-size: 1.6em;
          }
        }
      }
    }
  }
}
